main_project_id    = "xxxx-xxxx-xxxx-main-0"
network_project_id = "xxxx-xxxx-net-host"

database_name          = "postgres-name-00"
database_version       = "POSTGRES_14"
database_instance_tier = "db-g1-small"
region                 = "us-east4"

network_name          = "xxxx-spoke-0"     # Must already exist
firewall_source_range = ["192.168.1.0/24"]
firewall_name         = "allow-postgres"

kms_key_name = "projects/<CORE-PROJECT-ID>/locations/us-east4/keyRings/xxxx-xxxx-keyring/cryptoKeys/default" # Must already exist
