# Copyright 2026 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

organization_id = "1234567890"
domain          = "your-company.com"
region          = "us-central1"

main_project_id = "xxxx-xxxx-xxxx-main-0"

access_policy_title = "your_access_policy_title"
access_levels = [
  {
    name = "accessPolicies/<YOUR_ACCESS_POLICY_ID>/accessLevels/<YOUR_ACCESS_POLICY_NAME>"

    description = "Access only from the company network."
    conditions = [
      {
        ip_subnetworks = ["x.x.x.x/24"]
        members        = ["user:john.doe@your-company.com", "group:engineering@your-company.com"]
        negate         = false
        device_policy  = {
          require_screen_lock = true
        }
        regions = ["us-central1" "europe-west1"]
      }
    ]
  }
]

service_perimeters = [
  {
    parent = "accessPolicies/<YOUR_ACCESS_POLICY>"
    name = "accessPolicies/<YOUR_ACCESS_POLICY>/servicePerimeters/gcs_perimeter>"
    description = "Perimeter for accessing GCP buckets."
    status = {
      restricted_services = ["storage.googleapis.com"]
      resources           = ["projects/project_number"]
    }
  }
]