tenants = {
  ten-1 = { ## Change ten-1 here - 6 or less characters
    admin_principal  = "group:gcp-devops@<domain>"
    descriptive_name = "tenant-1" ## Change descriptive_name here
    locations = {
      gcs = "<region>"
      kms = "<region>"
    }
  },
  ten-2 = { ## Change ten-2 here - 6 or less characters
    admin_principal  = "group:gcp-devops@<domain>"
    descriptive_name = "tenant-2" ## Change descriptive_name here
    locations = {
      gcs = "<region>"
      kms = "<region>"
    }
  }
}
## You can have “n” number of tenants

fast_features = {
  envs = true
}

envs_folders = {
  Prod = {
    admin = "gcp-organization-admins@<domain>"
  },
  Int = {
    admin = "gcp-organization-admins@<domain>"
  },
  Test = {
    admin = "gcp-organization-admins@<domain>"
  }
}
