# Copyright 2026 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

main_project_id = "xxxx-xxxx-main-0" # Replace with your main project ID

gcp_region      = "us-east4"        # Renamed from 'region'

# core_project_id is needed for KMS keys; replace with your core project ID
core_project_id = "xxxx-xxxx-iac-core-0"

secrets = {
  "secret-id-one" = {
    location = "us-east4"
    # key must be a full KMS key self-link, e.g., projects/<CORE-PROJECT-ID>/locations/us-east4/keyRings/<KMS-KEYRING-NAME>/cryptoKeys/<KMS-KEY-NAME>
    key      = "projects/xxxx-xxxx-iac-core-0/locations/us-east4/keyRings/my-secret-keyring/cryptoKeys/my-secret-key-1"
  }
  "secret-id-two" = {
    location = "us-east4"
    key      = "projects/xxxx-xxxx-iac-core-0/locations/us-east4/keyRings/my-secret-keyring/cryptoKeys/my-secret-key-2"
  }
}

# Secret IDs must match existing secrets
iam = {
  "secret-id-one" = {
    "roles/secretmanager.secretAccessor" = [
      # "serviceAccount:sa-one@<MAIN-PROJECT-ID>.iam.gserviceaccount.com",
      # "group:admins@domain.com"
    ],
    "roles/viewer" = [
      # "group:admins@domain.com"
    ]
  },
  "secret-id-two" = {
    "roles/secretmanager.secretAccessor" = [
      # "serviceAccount:sa-two@<MAIN-PROJECT-ID>.iam.gserviceaccount.com"
      # "group:admins@domain.com"
    ]
  }
}

# 'zone' variable removed as Secret Manager secrets are regional, not zonal.
# See https://cloud.google.com/secret-manager/docs/locations for more information
