main_project_id = "xxxx-xxxx-xxxx-main-0"
region          = "us-east4"
zone            = "us-east4-a"

secrets = {
  "secret-id-one" = {
    location = "us-east4"
    key      = "projects/<CORE-PROJECT-ID>/locations/us-east4/keyRings/<KMS-KEYRING-NAME>/cryptoKeys/<KMS-KEY-NAME>"
  }
  "secret-id-two" = {
    location = "us-east4"
    key      = "projects/<CORE-PROJECT-ID>/locations/us-east4/keyRings/<KMS-KEYRING-NAME>/cryptoKeys/<KMS-KEY-NAME>"
  }
}

# Secret IDs must match existing secrets
iam = {
  "secret-id-one" = {
    "roles/secretmanager.secretAccessor" = [
      # "serviceAccount:sa-one@<MAIN-PROJECT-ID>.iam.gserviceaccount.com",
      # "group:admins@domain.com"
    ],
    "roles/viewer" = [
      # "group:admins@domain.com"
    ]
  },
  "secret-id-two" = {
    "roles/secretmanager.secretAccessor" = [
      # "serviceAccount:sa-two@<MAIN-PROJECT-ID>.iam.gserviceaccount.com"
      # "group:admins@domain.com"
    ]
  }
}