/**
 * Copyright 2026 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

main_project_id     = "xxxx-xxxx-main-0"
core_project_id     = "xxxx-xxxx-iac-core-0" # project where KMS keys reside

name                = "workflow-name-00"
description         = "workflow-description-01" # Optional
file                = "code/example.yaml"
logging_level       = "LOG_ERRORS_ONLY" # Defaults to LOG_ERRORS_ONLY, other options are CALL_LOG_LEVEL_UNSPECIFIED, LOG_ALL_CALLS, and LOG_NONE

env_vars = { # Optional
  url = "https://timeapi.io/api/time/current/zone?timeZone=America%2FDetroit", #url used by the example.yaml file
  key = "value",
}

region = "us-east4"

deletion_protection = false

kms_keyring_name    = "my-existing-keyring" # Replace with your existing keyring name
kms_key_name        = "my-existing-workflow-key" # Replace with your existing key name
kms_key_location    = "us-east4" # Optional: Specify if different from 'region', otherwise defaults to 'region'

# Optional: Custom service account ID
# workflow_service_account_id = "custom-workflows-sa"
