main_project_id = "xxxx-xxxx-main-0"

name          = "workflow-name-00"
description   = "workflow-description-01" # Optional
file          = "code/example.yaml"
logging_level = "LOG_ERRORS_ONLY" # Defaults to LOG_ERRORS_ONLY, other options are CALL_LOG_LEVEL_UNSPECIFIED, LOG_ALL_CALLS, and LOG_NONE

env_vars = { # Optional
  url = "https://timeapi.io/api/time/current/zone?timeZone=America%2FDetroit", #url used by the example.yaml file
  key = "value",
}

region = "us-east4"

deletion_protection = false