# --- Cluster Connection ---
NAMESPACE="keycloak"
POD_LABEL="app=keycloak"

# --- Bootstrap Credentials ---
# The credentials you use to log in to the "Master" realm (from your initial setup)
BOOTSTRAP_USER="admin"
BOOTSTRAP_PASS="YOUR_ACTUAL_ADMIN_PASSWORD" #"admin" by default

# --- New Realm Settings ---
REALM_NAME=""
REALM_DISPLAY_NAME=""

# --- Standard Users List ---
# Format: "email:password email:password"
USER_LIST=""