main_project_id = "xxxx-xxxx-xxxx-main-0"

region      = "us-east4"
email       = "user@domain.com"
group_email = "group@domain.com"

kms_keyring_name = {
  location = "us-east4"
  name     = "xxxx-xxxx-keyring"
}

kms_key_names = {
  "default" = {
    rotation_period            = "7776000s"    # CIS Compliance Benchmark 1.10
    destroy_scheduled_duration = "2592000s"
    labels = {
      "team" = "update-label-team"
    }
    version_template = {
      algorithm        = "GOOGLE_SYMMETRIC_ENCRYPTION"
      protection_level = "HSM"
    }
    iam = {
      "roles/cloudkms.cryptoKeyEncrypterDecrypter" = ["user:update-your-email-address-here", "group:update-group-email-address-here"]
    }
    lifecycle = {
      prevent_destroy = true
    }
  }
}
