/**
 * Copyright 2026 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

main_project_id = "xxxx-xxxx-xxxx-main-0"

name                = "document-ai-processor-name-00"
type                = "OCR_PROCESSOR" # https://cloud.google.com/document-ai/docs/processors-list (look for "Type in API" field)
deletion_protection = false
region              = "us-east4"