/**
 * Copyright 2026 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

main_project_id     = "xxxx-xxxx-main-0" # Replace with your main project ID

ncc_hub_name        = "ncc-hub-name-00" # The name of your NCC hub
topology            = "MESH"            # Can be "MESH" or "STAR"
psc_prop            = true              # Whether PSC propagation is enabled
gcp_region          = "us-east4"        # The GCP region for regional resources and provider default

spokes = {
  "my-spoke-1" = "projects/my-network-project-id-1/global/networks/my-vpc-network-1" # Replace with actual spoke name and VPC self-link
  "my-spoke-2" = "projects/my-network-project-id-2/global/networks/my-vpc-network-2" # Add more spokes as needed - they must already exist!
}

# Example of how to add a custom service account ID if needed
# workflow_service_account_id = "custom-workflows-sa"

