main_project_id    = "xxxx-xxxx-main-0"

name     = "ncc-hub-name-00"
topology = "MESH"
psc_prop = true
region   = "us-east4"

spokes = {
  "<NCC-SPOKE-NAME-00>" = "projects/<NETWORK-PROJECT-ID>/global/networks/xxxx-spoke-0"
}