# Copyright 2026 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

gatekeeper_sa                       = "gatekeeper-XXX-XXX-sa"
gke_cluster_enable_private_endpoint = true
gke_cluster_master_global_access    = true
gke_cluster_name                    = "XXX-cluster"
gke_initial_node_per_zone           = 1
gke_nodepool_name                   = "XXX-nodepool"
gke_vpc_master_ipv4_cidr_block      = "192.168.0.0/28"

kms_keyring_name = {
  location = "us-east4"
  name     = "gkekeyring11"
}

kms_key_names = {
  "default" = {
    rotation_period            = "7776000s" # CIS Compliance Benchmark 1.10
    destroy_scheduled_duration = "2592000s"
    labels = {
      "team" = "gke-team"
    }
    version_template = {
      algorithm        = "GOOGLE_SYMMETRIC_ENCRYPTION"
      protection_level = "HSM"
    }
    lifecycle = {
      prevent_destroy = true
    }
  }
}

local_admin_external_ip = ["X.X.X.X/32"]

main_project_id                    = "XXX-main-0"
master_authorized_ranges_ip_ranges = "10.0.0.0/8"

nat_gateway_name  = "XXX-nat-gateway"
nat_router_name   = "XXX-nat-router"
network_name      = "XXX-gke-vpc"
node_config_tags  = ["node-config-gke", "intial-nodeconfig-gke"]
node_disk_size_gb = 20
nodepool_node_count = {
  initial = 1
}

policy_controller_exemptable_namespaces = [
  "gke-gmp-system", "gke-managed-filestorecsi", "kube-system"
]

region                   = "us-east4"
remove_default_node_pool = true

source_branch = "gitops-constraints"
source_dir    = "policies"
source_repo   = "https://github.com/enterprise-Labs/stellar-engine-gke-policies"

subnetwork_name                          = "il5ssaa-int-dwsssa-subnet"
subnetwork_ip_cidr_range_1               = "10.0.4.0/22"
subnetwork_secondary_ip_range_pods_1     = "10.4.0.0/14"
subnetwork_secondary_ip_range_services_1 = "10.0.32.0/20"
