/**
 * Copyright 2026 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

main_project_id    = "xxxx-xxxx-main-0"
core_project_id    = "xxxx-xxxx-iac-core-0"
network_project_id = "xxxx-xxxx-net-host"

kms_keyring_name = "xxxx-xxxx-keyring"
kms_key_name     = "default"           # Must already exist

network_name    = "xxxx-spoke-0"       # Must already exist
subnetwork_name = "default-us-east4"   # Must already exist

region = "us-east4"

workstations = {
  "<WORKSTATION-NAME>" = {
    env = {
      CONFIG = "TEST"
      FOO    = "BAR"
    }
    users = ["user:<EMAIL-ADDRESS>>"] # change/delete this
  }
}