# Copyright 2026 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

gitlab_config = {
  hostname = "gitlab.gcp.example.com"
  mail     = {
    sendgrid = {
      api_key = "sample_api_key"
    }
  }
  saml = {
    idp_cert_fingerprint = "67:90:96.....REPLACE_ME"
    sso_target_url       = "https://accounts.google.com/o/saml2/idp?idpid=REPLACE_ME"
  }
}
network_config = {
  host_project      = "host-project"
  network_self_link = "network_self_link"
  subnet_self_link  = "subnetwork_self_link"
}
prefix     = "prefix"
project_id = "prod-gitlab-0"