main_project_id = "xxxx-xxxx-xxxx-main-0"
core_project_id = "xxxx-xxxx-xxxx-iac-core-0"

pubsub_topic                = "topic-name-00"
publisher_name              = "publisher-sa"
publisher_account_id        = "publisher-account-id"
subscriber_account_id       = "subscriber-account-id"
subscriber_name             = "subscriber-sa"
region                      = "us-east4"
allowed_persistence_regions = ["us-east4"]

kms_keyring_name = "xxxx-xxxx-keyring"
kms_key_name     = "default"