gitlab_uri         = "https://gitlab.mine.com"
network            = "projects/<net_project_id>/global/networks/<spoke>"
subnetwork         = "projects/<net_project_id>/regions/us-east4/subnetworks/<subnet>"
project_id         = "xxxx-xxxx-main-0"
kms_key            = "projects/<core_project_id>/locations/us-east4/keyRings/keyring/cryptoKeys/gcs"
zone               = "us-east4"
net_project        = "int-net-host"
sa                 = "gitlab-sa"
nodepool_node_count = {
  initial = 1
}
network_name = "test-spoke-0"