/**
 * Copyright 2026 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

existing_cluster = false
project_id           = "<project_id>"
kms_key              = "projects/<core_project_id>/locations/<region>/keyRings/<keyring_name>/cryptoKeys/default"
region               = "us-east4"
sa                   = "gitlab-sa"

#Values below are only required when creating a new cluster
gitlab_uri           = "gitlab.<example>.com"
network              = "projects/<net_project_id>/global/networks/<spoke>"
subnetwork           = "projects/<net_project_id>/regions/us-east4/subnetworks/<subnet>"
net_project          = "<int-net-host>"
subnet_pod_range     = "<ENV-TENANT-REGION-pod-range-0>"
subnet_service_range = "<ENV-TENANT-REGION-service-range-0>"
gitlab_allow_source_ranges = ["35.191.0.0/16", "130.211.0.0/22", "209.85.204.0/22", "209.85.152.0/22"]
nodepool_node_count  = {
  initial = 1
}
network_name         = "<ENV>-spoke-0"