/**
 * Copyright 2026 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

# use `gcloud beta billing accounts list`
# if you have too many accounts, check the Cloud Console :)
assured_workloads = {
  regime = "compliance-regime"  #"IL4, IL5, FEDRAMP_HIGH, etc... if you wish to not use assured_workloads, set this value to COMPLIANCE_REGIME_UNSPECIFIED"
  location = "us-east4"
}

billing_account = {
  id = "012345-67890A-BCDEF0"
}

bootstrap_project = "bootstrap-project-name"

# locations for GCS, BigQuery, KMS, and logging buckets created here
locations = {
  bq      = "us-east4"
  gcs     = ["us-east4"]
  logging = ["us-east4"]
  pubsub  = ["us-east4"]
  kms     = "us-east4"
}

# use `gcloud organizations list`
organization = {
  domain      = "example.org"
  id          = 1234567890
  customer_id = "C000001"
}

org_policies_config = {
  import_defaults = false # No policies to import as of 27 SEP 2024
  constraints = {
    allowed_policy_member_domains = [] # Additional externally allowed customer_ids
    allowed_access_boundaries     = [] # Additional externally allowed organization_ids
  }
}

top_level_folder = {
  name = "Top_level_folder_name" #replace with given folder name 
  id = "123456788" #replace with given folder id
}