
main_project_id    = "xxxx-xxxx-xxxx-main-0"
core_project_id    = "xxxx-xxxx-xxxx-iac-core-0"
network_project_id = "xxxx-xxxx-net-host"

compute_service_account_id = "compute-engine-sa"
region                     = "us-east4"
zone                       = "us-east4-a"
instance_name              = "instance-name-00"
instance_type              = "n2d-standard-2"
disksize                   = 40

network_name           = "xxxx-spoke-0"
subnetwork_name        = "xxxx-xxxx-us-east4-range-0"
source_ranges_allowed  = ["10.0.1.0/24"]
allowed_firewall_ports = ["80", "22", "443"]

kms_keyring_name = "xxxx-xxxx-keyring"
kms_key_name = "default"
