# Copyright 2026 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

BILLING_ACCOUNT=012345-67890-12345
BOOTSTRAP_PROJECT_ID=bootstrap-project
COMPLIANCE_REGIME=IL5
DIRECTORY_CUSTOMER_ID=012345678
DEPLOYER_EMAIL_ADDRESS=user@example.com
FULLY_QUALIFIED_DOMAIN_NAME=example.com
LOGGING_ALERTS_EMAIL_ADDRESS=user@example.com
ORGANIZATION_ID=012345678912
PREFIX=pre
REGIONS=us-east4
AW_REGION=us
TENANT_ENVIRONMENTS=dev,prod
EXTERNAL_DIRECTORY_CUSTOMER_IDS=
EXTERNAL_ORGANIZATION_IDS=
TOP_LEVEL_FOLDER_NAME=
TOP_LEVEL_FOLDER_ID=
# Following are for Workload Identity Federation via GitLab (Leave blank if not using)
# Ex: google-cloud/enterprise-example-lz
CI_PROJECT_PATH=
# URL of gitlab instance
GITLAB_URL=
# run --> curl -s https://GITLAB_DOMAIN/oauth/discovery/keys
# If that doesn't work run --> curl -s https://GITLAB_DOMAIN/-/jwks
# Leave blank if not using on an isolated network
JWKS_KEY=
# Group naming:
TF_VAR_gcp_organization_admins_group=gcp-organization-admins
TF_VAR_gcp_billing_admins_group=gcp-billing-admins
TF_VAR_gcp_vpc_network_admins_group=gcp-vpc-network-admins
TF_VAR_gcp_hybrid_connectivity_admins_group=gcp-hybrid-connectivity-admins
TF_VAR_gcp_logging_monitoring_admins_group=gcp-logging-monitoring-admins
TF_VAR_gcp_logging_monitoring_viewers_group=gcp-logging-monitoring-viewers
TF_VAR_gcp_security_admins_group=gcp-security-admins
TF_VAR_gcp_developers_group=gcp-developers
TF_VAR_gcp_devops_group=gcp-devops

# Determines whether to create pubsub sink in Stage-1
APPLY_TIER_1_PUBSUB_SINK=true

# Determines requested network quota in Stage-3, defaults to 15 in variables
NETWORK_QUOTA_PREFERRED_VALUE=50
TENANT_CI_PROJECT_PATH=
