# Copyright 2026 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

ENVIRONMENTS=examples/gke-gitops-deployment/environments
ENV_FOLDER=test
CB_LOG_BUCKET=XXX-cloud-build-logs-bucket
CB_PROJECT=XXX-test-[TENANT]-iac-core-0
CB_REGION=us-east4
PREFIX=XXX
SERVICE_ACCOUNT=projects/XXX-cloudbuild-deployment/serviceAccounts/cloud-builder-sa@XXX-cloudbuild-deployment.iam.gserviceaccount.com
TFVARS_FILENAME=terraform.tfvars
