ENVIRONMENTS=examples/gke-gitops-deployment/environments
ENV_FOLDER=test
CB_LOG_BUCKET=XXX-cloud-build-logs-bucket
CB_PROJECT=XXX-test-[TENANT]-iac-core-0
CB_REGION=us-east4
PREFIX=XXX
SERVICE_ACCOUNT=projects/XXX-cloudbuild-deployment/serviceAccounts/cloud-builder-sa@XXX-cloudbuild-deployment.iam.gserviceaccount.com
TFVARS_FILENAME=terraform.tfvars
