domain = "xxxx.example.com"

main_project_id    = "xxxx-xxxx-xxxx-xxxx-main"
network_project_id = "xxxx-xxxx-xxxx-net-host"

prefix               = "xxxx"
region               = "us-east4"
default_backend      = "lenient"
oauth_brand_number   = xxxxxxxxxxxx
access_policy_number = xxxxxxxxxxxx

network_name = "xxxx-spoke-0"