ENVIRONMENTS=blueprints/il5/cloudbuild-tf-automation/environments
ENV_FOLDER=test
CB_LOG_BUCKET=XXX-cloud-build-logs-bucket
CB_PROJECT=XXX-test-aa-iac-core-0
CB_REGION=us-east4
CB_SERVICE_ACCOUNT=projects/[CORE_PROJECT]/serviceAccounts/cloud-build-sa@[CORE_PROJECT].iam.gserviceaccount.com
CB_STATE_BUCKET=XXX-cloud-build-state-bucket
PREFIX=XXX
REPOSITORY_ROOT=../../../../.
TFVARS_FILENAME=test-terraform.tfvars
